# osu! configuration for NaticDesigns
# last updated on Saturday, August 18, 2018

# IMPORTANT: DO NOT SHARE THIS FILE PUBLICLY.
# IT CONTAINS YOUR LOGIN CREDENTIALS IF YOU HAVE THEM SAVED.

BeatmapDirectory = Songs
VolumeUniversal = 100
VolumeEffect = 100
VolumeMusic = 70
AllowPublicInvites = 1
AutoChatHide = 1
AutomaticDownload = 1
AutomaticDownloadNoVideo = 0
BlockNonFriendPM = 0
Shaders = 0
BloomSoftening = 0
BossKeyFirstActivation = 0
ChatAudibleHighlight = 0
ChatChannels = #osu #announce #lobby #userlog #multiplayer BanchoBot
ChatFilter = 0
ChatHighlightName = 1
ChatMessageNotification = 1
ChatLastChannel = #announce
ChatRemoveForeign = 0
ChatSortMode = 1
ComboBurst = 1
ComboFire = 0
ComboFireHeight = 3
ConfirmExit = 0
AutoSendNowPlaying = 1
CursorSize = 1
AutomaticCursorSizing = 0
DimLevel = 30
IHateHavingFun = 0
Display = 1
DisplayCityLocation = 0
DistanceSpacingEnabled = 1
EditorTip = 3
VideoEditor = 0
EditorDim = 0
EditorGrid = 0
EditorDefaultSkin = 0
EditorSnakingSliders = 1
EditorHitAnimations = 0
EditorFollowPoints = 1
EditorStacking = 1
ForceSliderRendering = 0
FpsCounter = 0
FrameTimeDisplay = 0
GuideTips = 1
CursorRipple = 0
HighlightWords = 
HighResolution = 0
HitLighting = 1
IgnoreBarline = 0
IgnoreBeatmapSamples = 0
IgnoreBeatmapSkins = 1
IgnoreList = 
KeyOverlay = 0
Language = en
LastPlayMode = Osu
AllowNowPlayingHighlights = 0
LastVersion = b20180811.2
LastVersionPermissionsFailed = b20180811.2
LoadSubmittedThread = 1
LobbyPlayMode = -1
ShowInterface = 0
ShowInterfaceDuringRelax = 0
LobbyShowExistingOnly = 0
LobbyShowFriendsOnly = 0
LobbyShowFull = 0
LobbyShowInProgress = 1
LobbyShowPassworded = 1
LogPrivateMessages = 0
LowResolution = 0
ManiaSpeed = 12
UsePerBeatmapManiaSpeed = 1
ManiaSpeedBPMScale = 1
MenuTip = 28
MouseDisableButtons = 0
MouseDisableWheel = 0
MouseSpeed = 0.85
Offset = 0
ScoreMeterScale = 1
DistanceSpacing = 0.8
EditorBeatDivisor = 1
EditorGridSize = 32
EditorGridSizeDesign = 32
Height = 1080
Width = 2560
HeightFullscreen = 1080
CustomFrameLimit = 240
WidthFullscreen = 2560
MsnIntegration = 0
MyPcSucks = 0
NotifyFriends = 1
NotifySubmittedThread = 1
PopupDuringGameplay = 1
ProgressBarType = Pie
RankType = Top
RefreshRate = 60
OverrideRefreshRate = 0
ScaleMode = 1
ScoreboardVisible = 0
ScoreMeter = Error
ScreenshotId = 0
MenuSnow = 0
MenuTriangles = 1
SongSelectThumbnails = 1
ScreenshotFormat = Jpg
ShowReplayComments = 1
ShowSpectators = 1
ShowStoryboard = 1
Skin = ~Julian's-Custom-Skin~
SkinSamples = 1
SkipTablet = 0
SnakingSliders = 1
Tablet = 0
UpdatePending = 0
UserFilter = All
UseSkinCursor = 0
SeasonalBackgrounds = Sometimes
UseTaikoSkin = 0
Video = 1
Wiimote = 0
YahooIntegration = 0
ForceFrameFlush = 0
DetectPerformanceIssues = 1
Fullscreen = 1
MenuMusic = 1
MenuVoice = 1
MenuParallax = 1
RawInput = 1
AbsoluteToOsuWindow = 0
ConfineMouse = Fullscreen
ShowMenuTips = 1
HiddenShowFirstApproach = 1
ComboColourSliderBall = 1
AlternativeChatFont = 0
Username = NaticDesigns
DisplayStarsMaximum = 10
DisplayStarsMinimum = 0
AudioDevice = 
SavePassword = 1
SaveUsername = 1
Password = AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA9mJF0RdmKkOY3Hs7DiGCDgAAAAAIAAAAUgBhAHcAAAAQZgAAAAEAACAAAAB6OOLVcq7AR09ucodsexwhurY69y3C0DhUFD5jaZ886QAAAAAOgAAAAAIAACAAAACnB0NUMxU52c2cZbGOCbnNrr+/vvcKq5LDIfdMH9rb9RAAAAA8QbHthI646ipKJx4NCQwNQAAAAC9a2k6BTbFmtW+UrLm7w3zmOvRJ9YQ/ZtX9xe1vNDHSR1aNBklvYUcj1bRayam22YEYQ6+q4dQf3ecNFcBhdRc=
TreeSortMode = Difficulty
TreeSortMode2 = Title
Letterboxing = 1
LetterboxPositionX = 0
LetterboxPositionY = 0
FrameSync = Limit120
ShowUnicode = 0
PermanentSongInfo = 0
Ticker = 0
CompatibilityContext = 0
CanForceOptimusCompatibility = 1
keyOsuLeft = Z
keyOsuRight = X
keyOsuSmoke = C
keyFruitsDash = LeftShift
keyFruitsLeft = Left
keyFruitsRight = Right
keyTaikoInnerLeft = X
keyTaikoInnerRight = C
keyTaikoOuterLeft = Z
keyTaikoOuterRight = V
keyPause = Escape
keySkip = Space
keyToggleScoreboard = Tab
keyToggleChat = F8
keyToggleExtendedChat = F9
keyScreenshot = F12
keyIncreaseAudioOffset = OemPlus
keyDecreaseAudioOffset = OemMinus
keyQuickRetry = OemTilde
keyIncreaseSpeed = F4
keyDecreaseSpeed = F3
keyToggleFrameLimiter = F7
keyVolumeIncrease = Up
keyVolumeDecrease = Down
keyDisableMouseButtons = F10
keyBossKey = Insert
keySelectTool = D1
keyNormalTool = D2
keySliderTool = D3
keySpinnerTool = D4
keyNewComboToggle = Q
keyWhistleToggle = W
keyFinishToggle = E
keyClapToggle = R
keyGridSnapToggle = T
keyDistSnapToggle = Y
keyNoteLockToggle = L
keyNudgeLeft = J
keyNudgeRight = K
keyHelpToggle = H
keyJumpToBegin = Z
keyPlayFromBegin = X
keyAudioPause = C
keyJumpToEnd = V
keyGridChange = G
keyTimingSection = None
keyInheritingSection = None
keyRemoveSection = None
keyEasy = Q
keyNoFail = W
keyHalfTime = E
keyHardRock = A
keySuddenDeath = S
keyDoubleTime = D
keyHidden = F
keyFlashlight = G
keyRelax = Z
keyAutopilot = X
keySpunOut = C
keyAuto = V
keyScoreV2 = B
ManiaLayouts4K = F G J K
ManiaLayoutSelected4K = 0
ManiaLayouts5K = None F G H D
ManiaLayoutSelected5K = 0
ManiaLayouts6K = None None H D F G
ManiaLayoutSelected6K = 0
ManiaLayouts7K = None None None G H D F
ManiaLayoutSelected7K = 0
ManiaLayouts8K = None None None None G H D F
ManiaLayoutSelected8K = 0
ManiaLayouts9K = None None D F G H K L OemSemicolon
ManiaLayoutSelected9K = 0
